
<%
background = 'https://source.unsplash.com/random/500×300/?cocktail'
if @cocktail.photos.first
  background = cl_image_path @cocktail.photos.first.key, height: 500, width: 300, crop: :fill
end
%>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= background  %>);">
  <div class="container">
   <div class="row justify-content-center">
      <h1>  <%= @cocktail.name  %></h1>
      <p> <%= link_to "Back to cocktails list", cocktails_path %></p>
    </div>
  </div>
</div>


<div class="container">
     <h2>Doses per ingredients</h2>
    <p> <%= link_to "Add an ingredient/dose", new_cocktail_dose_path(@cocktail) %></p>
  <div class="row">
  <div class="col-4 description">
      <% @cocktail.doses.each do |dose| %>
        <%= dose.description %>
        <%= dose.ingredient.name %>
        <%= link_to "delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
  </div>
      <div class="col-4">
      </div>
    </div>
  </div>

<div class="container">
    <h3>Community pictures : Add yours!</h3>
      <p> <%= simple_form_for(@cocktail) do |f|%>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Add" %>
        <% end %></p>
      <% @cocktail.photos.each do |photo|  %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
</div>
